<section>
    <div class="row">
        <div class="container">
            <div class="col-lg-12 col-md-12 col-xs-12 fix-footer-r1">
                <div class="col-lg-3 col-md-3 col-xs-12">
                    <div class="form-group">
                        <h1>Follo Us</h1>
                        <br>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-xs-12">
                    <div class="form-group">
                        <br>
                        <button class="btn btn-primary btn-width-100">On Facebook</button>
                        <br>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-xs-12">
                    <div class="form-group">
                        <br>
                        <button class="btn btn-info btn-width-100">On Twitter</button>
                        <br>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-xs-12">
                    <div class="form-group">
                        <br>
                        <button class="btn btn-danger btn-width-100">On Pinterest</button>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <div class="col-lg-3 col-md-3 col-xs-3">
                    <div class="form-group">
                        <p class="fix-hfooter-col-1"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> collumn 1</p>
                        <ul>
                            <li><a href="http://">link</a></li>
                            <li><a href="http://">link</a></li>
                            <li><a href="http://">link</a></li>
                            <li><a href="http://">link</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-xs-3"></div>
                <div class="col-lg-3 col-md-3 col-xs-3"></div>
                <div class="col-lg-3 col-md-3 col-xs-3"></div>
            </div>
        </div> -->
    <div class="row">
        <div class="container fix-r2-footer">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="col-lg-4 col-md-4 col-xs-12">
                        <p><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Product</p>
                        <ul>
                            <li><a href="">Product 1</a></li>
                            <li><a href="">Product 2</a></li>
                            <li><a href="">Product 3</a></li>
                            <li><a href="">Product 4</a></li>
                            <li><a href="">Product 5</a></li>
                            <li><a href="">Product 6</a></li>
                            <li><a href="">Product 7</a></li>
                            <li><a href="">Product 8</a></li>
                            <li><a href="">Product 9</a></li>
                            <li><a href="">Product 10</a></li>
                            <li><a href="">Product 11</a></li>
                            <li><a href="">Product 12</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-xs-12">
                        <p><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Category</p>
                        <ul>
                            <li><a href="">Bussiness & Service</a></li>
                            <li><a href="">Fashion & Beauty</a></li>
                            <li><a href="">Home & Family</a></li>
                            <li><a href="">Design & Photography</a></li>
                            <li><a href="">Cars & Motorcycles</a></li>
                            <li><a href="">Medical</a></li>
                            <li><a href="">Support Outdoors & Travel</a></li>
                            <li><a href="">Foods & Restaurant</a></li>
                            <li><a href="">Electronic</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-xs-12">
                        <p><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Company </p>
                        <ul>
                            <li><a href="">About us</a></li>
                            <li><a href="">Blog</a></li>
                            <li><a href="">Promocode/Coupons</a></li>
                            <li><a href="">Bast Website Hosting</a></li>
                            <li><a href="">Affliate Program</a></li>
                            <li><a href="">Service Center</a></li>
                            <li><a href="">Partner</a></li>
                            <li><a href="">Certificate center</a></li>
                            <li><a href="">Template</a></li>
                            <li><a href="">Web Stusdies Catalog</a></li>
                            <li><a href="">Contact us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="col-lg-6 col-md-6 col-xs-12">
                        <p><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Support</p>
                        <ul>
                            <li><a href="">Helt Center</a></li>
                            <li><a href="">Report Spam</a></li>
                            <li><a href="">Stiemap</a></li>
                            <li><a href="">Become a vandor</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12">
                        <p><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Follo us</p>
                        <ul>
                            <li><a href="">Be a Fan On Facebook</a></li>
                            <li><a href="">Follow Us On Twitter</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12">
                        <form action="" method="post">
                            <div class="form-group">
                                <p><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Subscribe to newletters</p>
                            </div>
                            <div class="form-group">
                                <p>Get's News Healty And New Prpduct</p>
                            </div>
                            <div class="form-group fix-display-inline">
                                <input type="text" class="form-control" name="newsmail" id="newsmail" placeholder="Email Address">
                                <button class="btn btn-info">Subscribe</button>
                            </div>
                            <div class="form-group">
                                <p>by click the button you agree to the <a href="">privacy Policy</a> and <a href="">Term and Condition</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="fix-center fix-cppy">
            Coppyigth @ Ubonsoft.com
        </div>
    </div>
</section>